@using TMS.Entities
@using TMS.Web.UI.Helpers
@model Contact

@{
  ViewBag.Title = "Contacts";
  Layout = "../Shared/_Index.cshtml";
}

<thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Title</th>
    <th>Company Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
  @{
    List<Contact> contacts = (List<Contact>) ViewData["Contacts"];
    List<Country> countries = ViewBag.Countries;
    if (contacts != null)
    {
      foreach (Contact contact in contacts)
      {
        <tr>
          <td style="text-align: center"><i class="fa fa-square-o fa-lg" data-value="@contact.Id"></i></td>
          <td class="td" onclick="location.href='@Url.Action("Details", "Contact", new {id = contact.Id})'">@contact.Salutation. @contact.LastName, @contact.FirstName</td>
          <td>
            @contact.Title
          </td>
          <td>
            @contact.CompanyName
          </td>
          <td>@contact.City</td>
          <td>
            @countries.Single(x => x.Id == contact.Country).Name.TitleCase()
          </td>
          <td>
            @contact.Description.Shorten(20)
          </td>
          <td>@contact.Status</td>
        </tr>
      }
    }
  }
</tbody>
